/* canvas {
  position: absolute;
  left: 0;
  right: 0;
  margin: 40px auto;
} */

header {
  height: 30px;
}

#menu-canvas {
  position: absolute;
  left: 0;
  right: 0;
  margin: 20px auto;
  z-index: 3;
}

#sprite-canvas {
  position: absolute;
  left: 0;
  right: 0;
  margin: 20px auto;
  z-index: 2;
  /* outline: 1px solid silver; */
}

#map-canvas {
  position: absolute;
  left: 0;
  right: 0;
  margin: 20px auto;
  z-index: 1;
  outline: 2px solid #ddd;
}