html body {
  margin: 0;
  text-align: center;
  overscroll-behavior-y: none;
  min-width: 816px;
  border: 6px solid silver;
  background-image: url('../images/ui/matte.png');
  background-repeat: repeat; 
}

header {
  /* position: absolute; */
  padding: 10px;
  height: 100px;
  width: 776px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: grey;
  border-radius: 0 0 15px 15px;
}

canvas {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  border: 1px solid silver;
  border-radius: 15px;
}

footer {
  padding: 10px;
  height: 100px;
  width: 776px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: grey;
  border-radius: 15px 15px 0 0;
}

#logo {
  margin-top: 10px;
}
#game-container {
  position: relative;
  margin: 20px;
  height: 704px;
}

#menu-canvas {
  z-index: 4;
}

#sprite-canvas {
  z-index: 3;
}

#map-canvas {
  z-index: 2;
}

#collision-canvas {
  z-index: 1;
}