html body {
  margin: 0;
  text-align: center;
  overscroll-behavior-y: none;
}

header {
  position: absolute;
  height: 120px;
  width: 976px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: grey;
  border-radius: 0 0 15px 15px;
}

canvas {
  position: absolute;
  top: 140px;
  left: 0;
  right: 0;
  margin: auto;
  border: 4px solid grey;
  border-radius: 15px;
}

footer {
  height: 70px;
  width: 976px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 120px;
  background-color: grey;
  border-radius: 15px 15px 0 0;
}

#logo {
  /* margin: 10px 0 0 10px;  */
}
#game-container {
  height: 744px;
}
#menu-canvas {
  z-index: 4;
}

#sprite-canvas {
  z-index: 3;
}

#map-canvas {
  z-index: 2;
}

#collision-canvas {
  z-index: 1;
}